$primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
;

$green-blue: #268EA6;
$sky-blue: #85D3F2;
$light-blue: #A7E4F2;
$beige: #D9A05B;
$red: #731702;


$dark-red: #8C3623;
$orange: #F25F29;
$tan: #F2C0A2;
$green-tan: #A66D03;
$torquoise: #04ADBF;
