$lavendar-grey: #C9CAD9;
$purple-blue: #4B4E6D;
$baby-blue: #A3BCF9;
$steel-teal: #6A8D92;
$torquoise: #04ADBF;
$white: white;
$sky-blue: #85D3F2;
$main-background:linear-gradient($torquoise, $sky-blue, $white,)
