@import '_variables';
@import '_reset';

.hidden {
  display: none!important;
}

/* ----- Main Page Section -------- */
.main-page {
  background: $torquoise;
  height: 100vh;
}

.greeting-area {
  height: 20vh;
  weight: 160vh;
  display: flex;
  align-items: center;
}

h1 {
  font-size: 60px;
}

#icon {
  margin-left: 33%;
}

.bottom-section {
  display: flex;
  align-items: center;
  height: 80vh;
}

.cost-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: pink;
  height: 80vh;
  width: 50vh;
}

.trips-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  width: 100%;
  text-align: center;
}

.trip-circle {
  border: 3px solid $white;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

h2 {
  font-size: 8vh;
}

#present {
  background: $orange;
}

#upcoming {
  background: $green-tan;
}

#pending {
  background: $red;
}

#past {
  background: $tan;
}

/* ----- Login Section -------- */

.login-page {
  height: 100vh;
  background: $login-background;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  height: 10vh;
  border: 3px solid $white;
  background: $torquoise;
  margin-top: 20px;
  margin-bottom: 20px;
}

#loginButton {
  margin-left: 40%;
}
