@import '_variables';
@import '_reset';

.hidden {
  display: none!important;
}

/* ----- Main Page Section -------- */
.main-page {
  background: $main-background;
  color: white;
  height: 100vh;
}

.greeting-area {
  align-items: center;
  display: flex;
  height: 20vh;
  weight: 160vh;
}

h1 {
  font-size: 60px;
}

#icon {
  margin-left: 33%;
}

.bottom-section {
  display: flex;
  align-items: center;
  height: 80vh;
}

.cost-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 50vh;
}

.rectangle {
  background-color: $lavendar-grey;
  border: 3px solid $white;
  border-radius: 30%;
  color: $torquoise;
  font-weight: bold;
  height: 90%;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  width: 90%;

}

h5 {
  margin-top: 20px;
}

.trips-area {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 80vh;
  width: 100%;
}

.trip-circle {
  border: 3px solid $white;
  border-radius: 70%;
  height: 90%;
  text-align: center;
  width: 90%;
}

h2 {
  font-size: 8vh;
  margin-top: 1vh;
}

#present {
  background: $steel-teal;
}

#upcoming {
  background: $baby-blue;
}

#pending {
  background: $torquoise;
}

#past {
  background: $purple-blue;
}

/* ----- Login Section -------- */
h3 {
  color: $sky-blue;
  font-size: 15vh;
  font-weight: bold;
}

.login-page {
  align-items: center;
  background-image: url("https://media.giphy.com/media/1TpGKApbHmkZa/giphy.gif");
  background-size: cover;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.login-box {
  background: $sky-blue;
  border: 2px solid $white;
  height: 18%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  text-align: center;
  width: 15%;
}

#nameLabel {
  margin-bottom: 25%;
}

#userNameInput,
#pwInput {
  margin-bottom: 10px;
  margin-top: 10px;
}
